{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ lieu.nom }}
{% endblock %}

{% block body %}
    {% include 'inc/navadmin.html.twig' %}
    <div class="container">
        {% set urlCarte = "https://www.google.com/maps/place/" %}
        <h2>{{ lieu.nom }} à <a href="{{ path('ville_view', {'id': lieu.ville.id}) }}">{{ lieu.ville.nom }}</a></h2>
        <h3><a href="{{ urlCarte }}{{ lieu.latitude }}+{{ lieu.longitude }}" target="_blank">Localisation</a> | <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a></h3>

        <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEwgC7YNEgeuTKuxzqTs4BxeiZXz4Vgc8&q={{ lieu.latitude }}+{{ lieu.longitude }}">
        </iframe>

    </div>
{% endblock %}