{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des groupes
{% endblock %}

{% block body %}
{% include 'inc/navadmin.html.twig' %}
    <div class="container">
        <table>
            <thead>
            <tr>
                <th colspan="1">Liste des groupes</th>
                <th colspan="1"><a href="{{ path('groupe_create') }}" title="Créer un groupe">Nouveau groupe</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Groupe</th>
                <th>Actions</th>
            </tr>
            {% for groupe in groupes %}

                <tr>
                    <td><a href="{{ path('campus_create') }}">{{ groupe.nom }}</a></td>
                    <td><a href="{{ path('campus_create') }}">Modifier</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="1">Date du jour : {{ "now" | date ("d/m/Y") }}</td>
                <td colspan="1">Total groupes : {{ groupes|length }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}