{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th colspan="7">Liste des sorties</th>
                <th colspan="1"><a href="{{ path('sortie_create') }}" title="Créer une sortie">Nouvelle sortie</a></th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Clôture</th>
                    <th>Places dispo</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                {% for sortie in sorties %}

                    <tr{% if sortie.etat.id is same as(6) %}
                        class="bg-danger"
                    {% elseif sortie.dateHeureDebut|date('Y-m-d H:i:s') < "now"|date('Y-m-d H:i:s') %}
                        class="bg-success"
                    {% endif %}>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date('d/m/Y')}}</td>
                        <td>{{ sortie.dateLimiteInscription | date('d/m/Y')}}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if(sortie.participants.contains(app.user)) %}
                                oui
                            {% else %}
                                non
                            {% endif %}</td>
                        <td><a href="{{ path('user_view', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                        <td><a href="{{ path('sortie_view', {'id': sortie.id}) }}">Afficher</a></td>
                </tr>
                {% endfor %}
            </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Date du jour : {{ "now" | date ("d/m/Y") }}</td>
            <td colspan="5">Total sorties : {{ sorties|length }}</td>
        </tr>
        </tfoot>
    </table>


{% endblock %}
