{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include 'inc/navadmin.html.twig' %}
    <table>
        <thead>
            <tr>
                <th colspan="5">Informations générales</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>Campus</th>
                <th>Lieux</th>
                <th>Sorties</th>
                <th>Utilisateurs</th>
                <th>Villes</th>
            </tr>

            <tr>
                <td>{{ campus|length }}</td>
                <td>{{ lieux|length }}</td>
                <td>{{ sorties|length }}</td>
                <td>{{ users|length }}</td>
                <td>{{ villes|length }}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">Nous sommes le {{ "now" | date ("d/m/Y à H:i:s") }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
