{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ ville.nom }}
{% endblock %}

{% block body %}

    <h2>{{ ville.nom }}</h2>

    {% set urlCarte = "https://www.google.com/maps/place/" %}

    <a href="{{ urlCarte }}{{ ville.codePostal }}" target="_blank">Localisation</a>

    <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxrv2VyFhOTxPAmu064tlUroZJ89ivoqo&q={{ ville.codePostal }}">
    </iframe>

    <a href="{{ path('ville_edit', {'id': ville.id}) }}">[ Modifier ]</a> <a href="{{ path('ville_delete', {'id': ville.id}) }}">[ Supprimer ]</a>

{% endblock %}