<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="icon" href="{{ asset('img/icon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">

    <title>{% block title %} AdopteUnDev.com {% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-title">
                <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo du site" width="150"></a>
                <div class="header-body">
                    <h1 style="font-family: 'Bruno Ace', cursive;">AdopteUnDev.com</h1>
                    <h2>Numéro 1 des sites de rencontre à l'ENI</h2>
                </div>
            </div>
            {% include 'inc/nav.html.twig' %}
        </header>
        <main>
            <div class="main">
                {% block body %}{% endblock %}
            </div>

        </main>
        <footer>
            <div>&copy; {{ "now"|date("Y") }} - AdopteUnDev.com</div>
            {# <p>"En  attendant de trouver l'amour, nous vous disons .."</p> #}
        </footer>
    </div>

</body>
</html>