<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="icon" href="{{ asset('img/icon.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">

    <title>{% block title %} AdopteUnDev.com {% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-title">
                <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo du site" width="150"></a>
                <div class="header-body">
                    <h1>AdopteUnDev.com</h1>
                    <h2>Numéro 1 des sites de rencontre à l'ENI</h2>
                </div>
                {% if app.user %}
                    <a class="avatarBox" href="{{ path('user_view', { 'id': app.user.id }) }}"><img src="{{ asset("img/" ~ app.user.avatar) }}" alt="Avatar de {{ app.user.lastName }}" class="avatar">{{ app.user.pseudo }}</a>
                {% endif %}
            </div>
            {% include 'inc/nav.html.twig' %}
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>

                <script src="{{ asset('js/delete-flash.js') }}"></script>
            {% endfor %}
        {% endfor %}

        <main>
            <div class="main">
                {% block body %}{% endblock %}
            </div>

        </main>
        <footer>
            <div>Cemineb &copy; {{ "now"|date("Y") }} - AdopteUnDev.com</div>
        </footer>
    </div>

</body>
</html>