<nav id="navbar-admin">
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_dashboard') }}" title="Dashboard"><li>Dashboard</li></a>
            <a href="{{ path('campus_list') }}" title="Lieux"><li>Campus</li></a>
            <a href="{{ path('lieu_list') }}" title="Lieux"><li>Lieux</li></a>
            <a href="{{ path('user_list') }}" title="Utilisateurs"><li>Utilisateurs</li></a>
            <a href="{{ path('ville_list') }}" title="Ville"><li>Ville</li></a>
        {% endif %}
    </ul>
</nav>