{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ user.pseudo }}{% endblock %}

{% block body %}

    <div class="view-head">
        <div class="sortie-organisation">
            <img src="{{ asset("img/avatar/" ~ user.avatar) }}" alt="avatar de {{ user.pseudo }}" width="100">
        </div>


        <div class="sortie-infos">
            <div class="item">
                <h1>{{ user.pseudo }}</h1>
                <p>Prénom : {{ user.firstName }}</p>
                <p>Nom : {{ user.lastName }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <p>Email : {{ user.email }}</p>
            </div>

        </div>
    </div>

    {% if app.user == user %}
        <button onclick="location.href='{{ path('user_edit', {'id': user.id}) }}'">Modifier mon profil</button>
    {% endif %}
    <button onclick="history.back()">Retour</button>

{% endblock %}
