{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.pseudo }}
{% endblock %}

{% block body %}
    {% if app.user is not same as(user) %}
        {% include 'inc/navadmin.html.twig' %}
    {% endif %}
    <div class="view-head">
        <div class="sortie-organisation">
            <img src="{{ asset("uploads/files/" ~ user.avatar) }}" alt="avatar de {{ user.pseudo }}" width="100">
        </div>


        <div class="sortie-infos">
            <div class="item">
                <h1>{{ user.pseudo }}</h1>
                <p>Prénom : {{ user.firstName }}</p>
                <p>Nom : {{ user.lastName }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <p>Email : {{ user.email }}</p>
            </div>
            <div>
                {% if app.user == user or is_granted('ROLE_ADMIN') %}
                    <button class="btn btn-primary" onclick="location.href='{{ path('user_edit', {'id': user.id}) }}'">Modifier</button>
                {% endif %}
                <button class="btn btn-primary" onclick="history.back()">Retour</button>
            </div>
        </div>
    </div>
    {% if app.user is same as(user) %}
    <table>
        <thead>
        <tr>
            <th colspan="1">Liste des groupes</th>
            <th colspan="1"><a href="{{ path('groupe_create') }}" title="Créer un groupe">Nouveau groupe</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Groupe</th>
            <th>Membres</th>
        </tr>
        {% for groupe in groups %}

            <tr>
                <td><a href="{{ path('groupe_view', {'id': groupe.id}) }}">{{ groupe.nom }}</a></td>
                <td>{{ groupe.users|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="1">Date du jour : {{ "now" | date ("d/m/Y") }}</td>
            <td colspan="1">Total groupes : {{ groups|length }}</td>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% endblock %}
